html {
    box-sizing: border-box;
    color: white;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --baseFontSize: 1rem;
    --h1FontSize: 2rem;
}

body {
    font-size: var(--baseFontSize);
}

h1 {
    font-size: var(--h1FontSize);
}

#content {
    background: url(../img/main-bg.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    height: 100px;
    border-bottom: 5px solid red;
    background-color: rgba(0, 0, 0, 0.36);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin: 0 20px;  
}

nav ul {
    display: flex;
}

nav li {
    text-transform: uppercase;
    margin: 0 20px;
}

nav li:hover {
    color: red;
    cursor: pointer;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 5px solid red;
    background-color: rgba(0, 0, 0, 0.36);
}

#credit {
    margin: 0 50px;
}

#social {
    margin: 0 50px;
}

#social ul {
    display: flex;
}

#social li {
    margin: 0 10px;
}

#social a {
    color: white;
}

#social a:active {
    color: white;
}

@media screen and (max-width: 560px) {
    nav {
        flex-direction: column;
        justify-content: space-around;
        height: 110px;
    }

    nav li {
        margin: 0 15px;
    }

    footer {
        flex-direction: column;
        justify-content: space-around;
        height: 110px;
    }
}