@import 'vars';

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero h1 {
    font-family: $logo-font-family;
    font-size: $logo-font-size;
}

#hero p {
    margin: 15px 0;
}

.menu-btn {
    color: black;
    background-color: red;
    border: none;
    width: 160px;
    height: 50px;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: $main-font-family;
    font-weight: bold;
    font-size: $btn-font-size;
}