#menu {
    width: 100%;
    height: 500px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 1rem;
    overflow-y: scroll;
}

#menu:after {
    content: "";
    display: block;
    height: 1rem;
    width: 100%;
    grid-column-start: span 2;
}

.menu-item {
    scroll-snap-align: start;
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #ff6347;
    border-radius: 5px;
    background-color: #2f2f2f;
}

.menu-item-title {
    padding: 0.5rem;
    text-align: center;
}

.menu-item-img {
    width: 300px;
    height: 280px;
    margin: 0.2rem;
    display: flex;
}

.menu-item-img > img {
    align-self: center;
}

.menu-text-container {
    padding: 0.5rem;
}

.menu-item-text {
    text-align: center;
}

@media screen and (max-width: 560px) {
    #menu {
        grid-template-columns: 1fr;
    }

    #menu:after {
        content: "";
        display: block;
        height: 1rem;
        width: 100%;
        grid-column-start: span 1;
    }    
}